* {
    box-sizing: border-box;
    border-collapse: collapse;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #90ee90;
}

header {
    background-color: #90ee90;
    text-align: center;
}

nav {
    background-color: black;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

nav ul {
    padding-left: 20px;
}

section {
    border: 1px solid #90ee90;
    padding: 0 10px;
}




/* Media Queries */
/* for phones */
@media screen and (max-width: 599px) {

    h1 {
        padding: 10px;
    }

    section {
        padding: 0 15px;
    }
}

/* For Tablets */
@media screen and (min-width: 600px) and (max-width: 1200px) {

    h1 {
        padding: 20px;
    }

    nav ul {
        padding-left: 15px;
    }

    nav li {
        margin-right: 30px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section {
        padding: 10px 10px;
    }
}


/* For Laptop */
@media screen and (min-width: 1201px) {

    .container {
        max-width: 1800px;
        margin: auto;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    h1 {
        padding: 30px;
    }

    nav ul {
        padding-left: 40px;
    }

    nav li {
        margin-right: 50px;
    }

    section {
        padding: 10px 30px;
    }
}